styles.module.css
.navbar{
background-color: khaki;
height: 50px;
font-size: 20px;
color: white;
}
.navbar :active{
  background-color: turquoise;
  color: blue;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar li {
  margin-right: 1rem;
}
